

/* ==========================================================================
   Author's custom styles
   ========================================================================== */




#services-top-desktop{
	background: #fff url(../img/fondo.jpg) fixed no-repeat center;
	background-size: cover;
		padding-top: 4em;
	padding-bottom:  4em;
}

#services-top-mobile {
	background: #fff url(../img/fondo.jpg) no-repeat center;
	background-size: cover;
}

#services-cf-desktop{
	background: #fff url(../img/fondocf.jpg) fixed no-repeat center;
	background-size: cover;
	padding-top: 4em;
	padding-bottom:  4em;
}

#services-cf-mobile {
	background: #fff url(../img/fondocf.jpg) no-repeat center;
	background-size: cover;

}



#services-f-desktop{
	background: #fff url(../img/fundacionesCover.jpg) fixed no-repeat center;
	background-size: cover;
	padding-top: 4em;
	padding-bottom:  4em;
}

#services-f-mobile {
	background: #fff url(../img/fundacionesCover.jpg) no-repeat center;
	background-size: cover;

}



h1#titulo{
	font-size: 90px;
	color: #fff;
	font-weight: 700;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
	text-align: center;
	line-height: 1;
	margin-bottom: 15px;
	letter-spacing: -2px;
}

p#subtitulo{
	font-size: 26px;
	color: #fff;
	font-weight: 100;
	text-align: center;
	line-height: 1;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}

div#fundacion-mg{
	margin-top: 5em;
	margin-bottom: 7em;
}

div#full{
	margin-top: 3em;
	margin-bottom: 6em;
}


img#fundacion{
	width: 50%;
	float: left;
	padding-top: 2em;
}












