{% extends 'base/base.html' %}
{% block contenido %} 

<section id="Como-funciona">
    <section id="services-buscador-desktop" class="visible-desktop">
        <br>
        <h1 class="header" id="titulo">{{ user.username }} - Buscador</h1>
        <p class="header" id="subtitulo">Buro de Solvencia Moral.</p>
    </section>
    <section id="services-buscador-mobile" class="hidden-desktop">
        <br>
        <h1 class="header" id="titulo">{{ user.username }} - Buscador</h1>
        <p class="header" id="subtitulo">Buro de Solvencia Moral.</p>
    </section>  
		<ul class="nav nav-tabs">
		  <li>
		    <a href="/buscador/curp">Buscar por curp</a>
		  </li>
		  <li class="active"><a href="/buscador/generales">Buscar por sus datos generales</a></li>
		</ul>


     <div class="row"  id="full">
        <div class="container">

			<h2 class="text-info">Buscar alumno o profesor por sus datos generales</h2>

            <form  id='formulario' method="post">{% csrf_token %}
            {{ formulario.non_field_errors }}
            <div class=row>   
                <div class="span4" id="line-vertical">
                    <div class="fieldWrapper">
                       {{ formulario.tipo.errors }}
                           <label for="id_tipo">Alumno o profesor*:</label>
                        {{ formulario.tipo }}
                    </div>
                </div>
 
                <div class="span4">
                    <h4>Datos generales</h4>
                    <div class="fieldWrapper">
                        {{ formulario.nombre.errors }}
                            <label for="id_nombre">Nombre:</label>
                        {{ formulario.nombre }}
                    </div>

                    <div class="fieldWrapper">
                        {{ formulario.apepat.errors }}
                            <label for="id_apepat">Apellido paterno:</label>
                        {{ formulario.apepat }}
                    </div>

                    <div class="fieldWrapper">
                        {{ formulario.apemat.errors }}
                            <label for="id_apemat">Apellido materno:</label>
                        {{ formulario.apemat }}
                    </div>

                     <div class="fieldWrapper">
                        {{ formulario.fecha_nacimiento.errors }}
                            <label for="id_fecha_nacimiento">Fecha de nacimiento:</label>
                        {{ formulario.fecha_nacimiento }}
                    </div>
                    <p><input id="btn" class="btn" type="submit" value="Buscar" /></p>
                </div>
            </div>
        </form>













						
        </div>
    </div>               
</section>

{% endblock %}
